/* 웹폰트 */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 변수 설정 */
html {
    --variable-yantra:'yantramanav', sans-serif;
    --variable-nexonL:'NEXON Lv1 Gothic OTF';
    --variable-nexonR:'NEXON Lv1 Gothic OTF Light';
    --variable-nexonB:'NEXON Lv1 Gothic OTF Bold';
    --variable-Playfair:'Playfair Display', serif;
    --variable-Roboto:'Roboto', sans-serif;
    
}

/* 여백 초기화 */
body, div, ul, ol, li, dd, dt, dl, h1, h2, h3, h4, h5, h6, input, fieldset,
 p, select, table, td, tr, textarea, button, form, figure, figcaption {margin:0; padding: 0;}

/* a 링크 초기화 */
a {color: #fff; text-decoration: none;}
a:hover {color: #000;}

/* 블릿기호 초기화 */
ul, ol, li{list-style: none;}

/* 이미지 초기화 */
img, video {width: 100%; vertical-align: top;}

/* 폰트 스타일 초기화 */
em {font-style: normal;}

/* 프리,코드 초기화 */
pre {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #232323;
    padding: 3% 5%;
    font-size: 14px;
    line-height: 1.4;
}

/* fixed */
.fiexd {
    position: fixed; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000;
}

/* container */
.container {
    width: 1280px;
    margin: 0 auto;
    height: inherit;
}
