/* �麹佔�� */

@font-face {
    font-family: 'Iropke Batang';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot);
    src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot?#iefix) format('embedded-opentype'),
         url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.woff) format('woff'),
         url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.ttf) format('truetype');
  }
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* �佔�� 覲��� �れ�� */
html {
    --variable-yantra:'yantramanav', sans-serif;
    --variable-nexonL:'NEXON Lv1 Gothic OTF';
    --variable-nexonR:'NEXON Lv1 Gothic OTF Light';
    --variable-nexonB:'NEXON Lv1 Gothic OTF Bold';
    --variable-Playfair:'Playfair Display', serif;
    --variable-italiana:'Italiana', serif;
}

/* ��葦 豐�蠍壱�� */
body, div, ul, ol, li, dd, dt, dl, h1, h2, h3, h4, h5, h6, input, fieldset,
 p, select, table, td, tr, textarea, button, form, figure, figcaption {margin:0; padding: 0;}

/* a 襷��� 豐�蠍壱�� */
a {color: #fff; text-decoration: none;}
a:hover {color: #fff;}

/* 觚�襴衰鍵�� 豐�蠍壱�� */
ul, ol, li{list-style: none;}

/* �企�讌� 豐�蠍壱�� */
img, video {width: 100%; vertical-align: top;}

/* �佔�� �ろ���� 豐�蠍壱�� */
em {font-style: normal;}

/* ��襴�,貊��� 豐�蠍壱�� */
pre {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #232323;
    padding: 3% 5%;
    font-size: 14px;
    line-height: 1.4;
}

/* fixed */
.fixed {
    position: fixed; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
}

/* container */
.container {
    width: 1280px;
    margin: 0 auto;
}