/* 레이아웃 */
#contents {}
#setctio1 {}
#setctio2 {}
#setctio3 {}
#setctio4 {}
#setctio5 {}
#setctio6 {}

/* fixed */
.fixed {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.fixed-full {
    position: fixed;
    left: 5%; top: 0%;
    z-index: 1000;
}

/* scroll */
.scroll {
    position: fixed;
    right: 20px; right: 20px;
    width: 50px; height: 50px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    line-height: 50px;
    text-align: center;
}

/* section01 */
.sec01 {width: 100vw; height: 100vh; overflow: hidden;}
.sec01 .sec01Wrap {
    width: 100vw; height: 100vh;
    background: #000;
}